.git
.github
.env
.env.*
**/.env
**/.env.*
node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
playwright-report
test-results
.npm-cache
.pnpm-store
*.log
.DS_Store
Thumbs.db
